.container{
    height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
}

header {
    grid-area: header;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  aside {
    grid-area: sidebar;
    background-color: #1e293b; 
    color: white;
    padding: 20px;
  }
  
  main {
    grid-area: main;
    background-color: #f8fafc;
    padding: 40px;
  }
  
  footer {
    grid-area: footer;
    background-color: #ffffff;
    border-top: 1px solid #e2e8f0;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.8rem;
  }